<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
 <beans>
 	<!-- 定义一个Bean -->
 	<bean id="HelloWorld" class="com.gc.action.HelloWorld">
 	<!-- 将其变量msg通过依赖注入 -->
 		<property name="msg">
 			<value>HelloWorld001</value>
 		</property>
 	</bean>
 </beans>